body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #a7237f 0%, rgb(45, 118, 126) 100%); /* w3c */
}

button {
  cursor: pointer;
}

.centre{
  justify-content: center;
}
